#references {
    border-top: 1px solid $gainsboro;
    padding: rem-calc(16) 0 0 0;

    h5 {
        font-size: rem-calc(16);
    }

    ol {
        word-wrap: break-word;

        li {
            font-size: rem-calc(13);
        }

        .see-more {
            font-size: rem-calc(13);
            margin-left: rem-calc(-16);

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
.attachment-review-product-image {
    float:left;
    margin:0 rem-calc(25) rem-calc(25) 0;
    max-width:rem-calc(105);
    max-height:rem-calc(105);
}
.button:after {
    @media #{$medium-up} {
        content:'\f061';
        font-family:FontAwesome;
        margin-left:rem-calc(10);
        float:right; 
    }
    
}
.tabs dd > a, .tabs .tab-title > a {
    text-decoration: none;
}

.tabs dd.active > a, .tabs .tab-title.active > a {
    background-color: #39B8EE;
    color: #FFF;
}

.pink {
    color: #0560DC;
}