/* Product-Specific Styles */
.single-products {
    h1 {
        font-size: rem-calc(46);
        font-weight: $font-weight-x-bold;
        line-height: 1;
    }

    h2 {
        font-size: rem-calc(34);
        line-height: 1;
        font-weight: $font-weight-x-bold;
    }

    h3 {
        font-size: rem-calc(24);
        line-height: 1;
    }

    h4 {
        font-size: rem-calc(18);
        line-height: 1;
    }

    h1, h2, h3, h4 {
        @media #{$small-only} {
            text-align: center;
        }
    }
    .button {
        font-weight:$font-weight-x-bold;
        font-family:$font-family-sans-serif-heading;
    }
    .banner {
        width: 100%;
        margin-bottom: rem-calc(30);
        background-size: cover;
        @media #{$small-only} {
            margin-bottom:0;
        }
        ul {
            margin: 0 0 0 0;

            li {
                &:before {
                    font-family: FontAwesome;
                    content: "\f00c";
                    display: inline-block;
                    margin-right: rem-calc(8);
                }

                list-style-type: none;
                margin-bottom: rem-calc(8);
            }
        }
    }

    .ingredient {
        padding: rem-calc(20) 0;
        border-bottom: rem-calc(1) solid $smoke;

        .ingredient-name {
            font-weight: $font-weight-bold;
        }

        .ingredient-image {
            @media #{$small-only} {
                padding: 0 rem-calc(15) 0 0;
            }
        }

        &.last {
            border-bottom: none;
        }

        .graph {
            max-width: rem-calc(350);

            @media #{$small-only} {
                max-width: 100%;
            }
        }
    }

    .row.bonus {
        padding: rem-calc(25) 0 rem-calc(30 - 25) 0;
        margin-bottom: rem-calc(30);
        background: $guarantee-bg;
        color: $guarantee-text;

        .bonus-img-medium {
            float: right;
        }

        .bonus-img-small {
            float: left;
            margin: 0 rem-calc(20) 0 0;
            max-width: 35%;
        }

        h4 {
            margin: 0 0 rem-calc(20) 0;
            color: $red;
        }
    }

    .supplement-facts {
        padding: rem-calc(30) 0;

        .suppfacts-button {
            text-align: center;

            .button {
                width: 50%;
                margin: rem-calc(20) auto 0 auto;

                @media #{$small-only} {
                    width: 100%;
                }
            }
        }
    }

    .testimonial {
        border-bottom: rem-calc(1) solid $smoke;
        padding: rem-calc(20) 0 rem-calc(20) 0;
        margin: 0 0 rem-calc(20) 0;

        .name {
            font-weight: $font-weight-bold;
        }

        &.last {
            border-bottom: none;
        }

        .testi {
            margin: 0 0 rem-calc(30) 0;
        }

        img {
            display: block;
            margin: 0 auto rem-calc(16) auto;
        }

        .name {
            font-weight: 600;
        }

        .test-disclaimer {
            font-size: rem-calc(16);
            font-weight: 400;

            a {
                color: inherit;
                text-decoration: none;
            }
        }
    }

    .guarantee {
        h2 {
            text-align: left;

            @media #{$small-only} {
                text-align: center;
            }
        }

        padding: rem-calc(25) 0 rem-calc(30 - 25) 0;
        margin-bottom: rem-calc(30);
        background: $guarantee-bg;
        color: $guarantee-text;

        .guarantee-img {
            width: rem-calc(170);
            display: block;
            margin: 0 auto rem-calc(20) auto;

            @media #{$small-only} {
                float: left;
                max-width: 35%;
                margin: 0 rem-calc(15) 0 0;
            }
        }
    }

    p.q {
        font-weight: $font-weight-bold;
        margin-bottom: 0;

        &:before {
            content: 'Q. ';
        }
    }

    p.a {
        &:before {
            content: 'A. ';
        }
    }
}

/**
 *
 * Custom product banner
 *
 */



/* Product-Specific Styles */
.single-products {
    h1 {
        font-size: rem-calc(46);
        font-weight: $font-weight-x-bold;
        line-height: 1;
    }

    h2 {
        font-size: rem-calc(34);
        line-height: 1;
        font-weight: $font-weight-x-bold;
    }

    h3 {
        font-size: rem-calc(24);
        line-height: 1;
    }

    h4 {
        font-size: rem-calc(18);
        line-height: 1;
    }

    h1, h2, h3, h4 {
        @media #{$small-only} {
            text-align: center;
        }
    }

    .banner {
        width: 100%;
        margin-bottom: rem-calc(30);
        background-size: cover;
        @media #{$small-only} {
            margin-bottom:0;
        }
        ul {
            margin: 0 0 0 0;

            li {
                &:before {
                    font-family: FontAwesome;
                    content: "\f00c";
                    display: inline-block;
                    margin-right: rem-calc(8);
                }

                list-style-type: none;
                margin-bottom: rem-calc(8);
            }
        }
    }

    .ingredient {
        padding: rem-calc(20) 0;
        border-bottom: rem-calc(1) solid $smoke;

        .ingredient-name {
            font-weight: $font-weight-bold;
        }

        .ingredient-image {
            @media #{$small-only} {
                padding: 0 rem-calc(15) 0 0;
            }
        }

        &.last {
            border-bottom: none;
        }

        .graph {
            max-width: rem-calc(350);

            @media #{$small-only} {
                max-width: 100%;
            }
        }
    }

    .supplement-facts {
        padding: rem-calc(30) 0;

        .suppfacts-button {
            text-align: center;

            .button {
                width: 50%;
                margin: rem-calc(20) auto 0 auto;

                @media #{$small-only} {
                    width: 100%;
                }
            }
        }
    }

    .testimonial {
        border-bottom: rem-calc(1) solid $smoke;
        padding: rem-calc(20) 0 rem-calc(20) 0;
        margin: 0 0 rem-calc(20) 0;

        .name {
            font-weight: $font-weight-bold;
        }

        &.last {
            border-bottom: none;
        }

        .testi {
            margin: 0 0 rem-calc(30) 0;
        }

        img {
            display: block;
            margin: 0 auto rem-calc(16) auto;
        }

        .name {
            font-weight: 600;
        }

        .test-disclaimer {
            font-size: rem-calc(16);
            font-weight: 400;

            a {
                color: inherit;
                text-decoration: none;
            }
        }
    }

    .guarantee {
        h2 {
            text-align: left;

            @media #{$small-only} {
                text-align: center;
            }
        }

        padding: rem-calc(25) 0 rem-calc(30 - 25) 0;
        margin-bottom: rem-calc(30);
        background: $guarantee-bg;
        color: $guarantee-text;

        .guarantee-img {
            width: rem-calc(170);
            display: block;
            margin: 0 auto rem-calc(20) auto;

            @media #{$small-only} {
                float: left;
                max-width: 35%;
                margin: 0 rem-calc(15) 0 0;
            }
        }
    }

    p.q {
        font-weight: $font-weight-bold;
        margin-bottom: 0;

        &:before {
            content: 'Q. ';
        }
    }

    p.a {
        &:before {
            content: 'A. ';
        }
    }
}


/* All Prods Styles */
#product_list {
    .columns {
        margin-bottom: rem-calc(30);
        text-align:center;
        
        a {
            text-align: center;
            color: inherit;

            &.product_name {
                font-size: rem-calc(18);
                font-weight: $font-weight-bold;
                text-transform: uppercase;
                text-decoration: none;
                color: inherit;
            }
        }

        .product_listing {
            margin-bottom: 14px;
        }

        figure {
            height: rem-calc(112);
            margin: 10px auto;

            img {
                width: auto;
                max-height: 100%;
                display: block;
                margin: 0 auto;
            }
        }
    }

    &:after {
        display: block;
        content: '';
        clear: both;
    }
}

#product_list .columns + .columns:last-child {
    float: left;
}