.tip-top {
    text-align: right;
    background: $tip-top-bg-color;
    color: $tip-top-color;
    line-height: $tip-top-height;
    font-size: $tip-top-font-size;

    .chat {
        padding: 0 0 0 rem-calc(2);
    }

    #emailLink {
        padding-left: rem-calc(12);
        padding-right: rem-calc(12);
        margin-left: rem-calc(12);
        margin-right: rem-calc(12);
        border-left: rem-calc(1) solid #0E4596;
        border-right: rem-calc(1) solid #0E4596;
    }

    .email {
        padding: 0 0 0 rem-calc(2);
    }

    .phone {
        padding: 0 0 0 rem-calc(2);
    }

    a {
        color: $tip-top-link-color;
        text-decoration: none;
        font-weight: $font-weight-bold;

        &:hover {
            text-decoration: underline;
        }
    }
}


/* Navigation breakpoints */

.desktop-menu, .top-bar-left {
  @include show-for(large);
}

#mobile-menu, .title-bar {
  @include hide-for(large);
}

/* Mobile menu */

.off-canvas {
 > ul.menu {
    height: 100vh;
    padding: 1rem;
  }
}

.title-bar-title {
  position:absolute;
  float:right;
  a {
    font-size: 1rem;
    color: #B9B9B9;
  }
}

.title-bar {
  height:auto;
  padding-bottom:rem-calc(25);

  .left-small {
    padding-top:rem-calc(8);
    float:left;
  }

  .logo {
    width:100%;
    float:right;
    padding-left:rem-calc(10);

    img {
      margin-top:rem-calc(9);
      @media #{$small-only} {
        width:rem-calc(270);
      }
    }
  }
}

#site-navigation {
  .row {
    @include breakpoint(medium down) {
      background:$black;
    }
    
  }
}

/* Tablet and desktop menu */
.top-bar-section li:not(.has-form) a:not(.button) {
    background: none;
    text-decoration: none;
}

.top-bar.logo-section {
    height: $logo-section-height;
    padding: $logo-section-padding;

    img.mfes-trustmark {
        height: rem-calc(30);
        width: auto;
        float:right;
        margin-top:rem-calc(4);
        margin-left:rem-calc(10);
    }
}

.top-bar-section ul li {
    background: none;
    color: $white;
}

.top-bar-section li.active:not(.has-form) a:not(.button) {
    background: none;
    color: $white;
}

.top-bar-section li.active:not(.has-form) a:not(.button):hover {
    background: none;
    color: inherit;
}

.top-bar-section ul li:hover:not(.has-form) > a {
    background: none;
}

.top-bar {
    .logo img {
        margin: 0 0;
        max-width: 100%;
    }

    .cart {
        float: right;
        font-size: rem-calc(18);

        a {
            color: $topbar-color;
            text-decoration: none;

            i {
                margin: 0 rem-calc(3) 0 0;
            }

            #cartCountWrap {
                display: none;
            }
        }
    }
    ul {
        ul {
           background:$topbar-background; 
        }
    }

}
.top-bar-section {
    ul.desktop-menu {
        float:left;
        li {
            border-left:2px solid $topbar-menu-border;
            font-weight:$font-weight-bold;
            &:last-child {
                border-right:2px solid #1C58B1;
            }
        }
    }
}
#mobile-menu a {
    color:$white;
    text-decoration:none;
}
.dropdown {
    border:none;
    height:auto;
    ul {
        li {
            border-bottom:1px solid $topbar-menu-border;
            padding-bottom:rem-calc(8);
            &:after {
                display:block;
                content:'';
                clear:both;
            }
            h4 {
                float:left;
                padding-top:rem-calc(15);
                text-align:center;
            }
            img {
                float:left;
                width:rem-calc(33);
                margin-right:rem-calc(15);
            }
            .nav-rating {
                text-align:right;
                padding-top:rem-calc(15);
            }
            &.all-prods-nav {
                padding-top:rem-calc(10);
                border-bottom:none;
            }
        }
    }
}
.top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button) {
    color:$white;
}
.dropdown.menu > li.is-dropdown-submenu-parent > a::after {
    border-color:$white transparent transparent;
}
.dropdown.menu > li.opens-right > .is-dropdown-submenu {
    z-index:100;
}